/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 40px 20px;
  font-family: sans-serif;
  font-size: 17px;
}

h2 {
  margin-bottom: 15px;
}

p {
  margin-bottom: 45px;
}

